[submodule "src/themes/PaperMod"]
	path = src/themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "src/themes/congo"]
	path = src/themes/congo
	url = https://github.com/jpanther/congo.git
	branch = stable
